.container {
  max-width: 80vw;
  overflow: hidden;
  margin: 0 auto;
  display: flex;
}

.container > div {
  margin: 10px;
  padding: 20px;
  flex: 0 1 400px;
  text-align: center;
  background-color: steelblue;
  transition: all 0.2s cubic-bezier(0.23, 1, 0.32, 1);
}
.container > div:hover {
  transform: scale(1.1);
}

.container > div h3 {
  text-transform: uppercase;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.container > div p {
  text-transform: uppercase;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.add__book {
  max-width: 80vw;
  overflow: hidden;
  margin: 0 auto;
}

.btn,
.btn:focus,
.btn:visited {
  background-color: red;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  color: white;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}
.btn:active {
  border: none;
}

.btn:visited {
  border: none;
}
.btn:hover {
  background-color: rgb(5, 187, 60);
  border: none;
}

.form {
  transform: translate(9999px);
  display: flex;
  flex-direction: column;
}

.form label {
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 10px 0 10px 20px;
}
.form input {
  max-width: 400px;
  border: 1px solid #b6b6b6cb;
  padding: 10px 20px;
  border-radius: 5px;
}

.form_field {
  flex: 0 0 40px;
  width: 600px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.form_field small {
  flex: 0 0 100%;
  margin-left: 20px;
  visibility: hidden;
}

.display {
  display: flex;
  flex-direction: column;
  transition: all 0.5s;
  transform: translate(0);
}

.submit {
  width: 200px;
  flex: 0 0 20px;

  background-color: red;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  color: white;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}

.submit:hover {
  background-color: rgb(5, 187, 60);
}
